#sub_img{
    width: 971px; height: 179px;
    background-image: url(../images/company/sub_back.png);
    background-repeat: no-repeat;
    background-position: left top;
}
#sub_menu{
    width: 238px; float: left;
    margin: 20px; font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}
#sub_menu ul{
    margin: 20px 0 0 10px;
    list-style: none;
}
#sub_menu a{
    text-decoration: none;
    color: #666;
    display: block;
    height: 15px;
    width: 150px;
    padding: 7px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #999;
    background-image: url(../images/bullet.gif);
    background-repeat: no-repeat;
    background-position: right center;
}
#sub_menu a:hover{
    background-image: url(../images/bullet_orange.gif);
    background-repeat: no-repeat;
    background-position: right center;
    color: #f90;
}

/* sub article */
article{
    border: 1px solid #ccc;
    float: right;
    width: 640px;
    margin: 20px 20px 0 0;
}
article h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px; color: #ccc;
    margin: 20px 0; font-weight: normal;
    padding-left: 6px;
}
article p{
    padding-left: 10px;
}
figure.ceo{
    float: right; margin: 5px; border: 1px solid #ccc;
}
figcaption{
    text-align: center;
    color: #39f;
}

/* history */
article .y2011,article .y2010,article .y2009{
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #999;
}
article .y2011 h3,article .y2010 h3,article .y2009 h3{
    display: none;
}
article .y2011{
    background-image: url(../images/company/2011.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    padding: 0 0 0 150px;
}
article .y2010{
    background-image: url(../images/company/2010.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    padding: 0 0 0 150px;
}
article .y2009{
    background-image: url(../images/company/2009.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    padding: 0 0 0 150px;
}
article .y2011 dt,article .y2010 dt,article .y2009 dt{
    float: left; text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px; color: #39f;
    padding-top: 3px; margin: 0;
}
article .y2011 dd,article .y2010 dd,article .y2009 dd{
    padding: 0 0 0 15px; line-height: 2em;
    background-image: url(../images/company/h_bullet.gif);
    background-repeat: no-repeat;
    background-position: left center;
}
article .y2011 dl,article .y2010 dl,article .y2009 dl{
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #ccc;
}
article dl.dot_none{
    border-bottom: none;
}